<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Member</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>
<body>
    {% extends 'admin_dashboard.html' %}

    {% block heading %}
        <h2>Update Member: {{member.name}}</h2>
    {% endblock %}

    {% block content %}
        <form action="" class="dashboard-forms" method="POST">
            <input type="hidden" name="member.id" value="{{ member.id }}">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{ member.name }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{ member.email }}" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone" value="{{ member.phone }}" required>
            </div>
            <div class="form-group buttons">
                <button type="submit" name="action" value="update">Save Changes</button>
                <a href="{{ url_for('update_delete_members') }}" class="btn">Cancel</a>
            </div>
        </form>
    {% endblock %}
</body>
</html>